
@{
    ViewData["Title"] = "Juego";
}

<div class="container" style="width:800px;">
    <div class="row">
        <div class="col bg-white">
<div>
    <center> <h2>@ViewBag.Pregunta.Enunciado </h2>
      <center><img src = @ViewBag.Pregunta.Foto height = "300 px"></center>
      
        <form method="post" action='@Url.Action("VerificarRespuesta","Home")';>
          <input name="IdPregunta" type="hidden" value=@ViewBag.Pregunta.IdPregunta>
          @foreach(Respuesta r in ViewBag._Respuestas)
            {
              <div class="form-check form-check-inline">
              <br/><input name="IdRespuesta"  type="radio" value=@r.IdRespuesta required ><h7 style="margin-top:15px;">@r.Contenido</h7><br/>
              </div>
            }      
          <div><button style="margin-top:15px;" type="submit" class="btn btn-secondary">Responder</button></div> <br/>
        </form>
</div>
</div>
</div>
<br/>
<center>
<div class="card" style="width: 14rem;">
      <div class="card-header">
        Usuario: @ViewBag.username
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Puntaje: @ViewBag.puntaje</li>
        <li class="list-group-item">Numero de pregunta: @ViewBag.pregactual</li>
      </ul>
    </div>
</center>